:root {
  --primary-color: #26baee;
  --secondary-color: #9fe8fa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
table {
  border-collapse: collapse;
  border-spacing: 0px;
}

body {
  margin: 0;
  background: #333333;
  color: #eeeeee;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-right: -0.5rem;
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 1px;
}
